html {
    font-family: system-ui, -apple-system, 
        "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", 
        "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", 
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: rgb(75, 75, 75);
}


.app-container {
    width: 25rem;
    background-color: white;
    height: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: max(0px, calc((100vh - 40rem) / 2));
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
    background-color: rgb(71, 174, 234);
    background-size: cover;
    background-position: bottom center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.top-bar__location {
    padding: 1.5rem 2rem;
    color: white;
}

.top-bar__date {
    padding: 1.5rem 2rem;
    color: white; 
    font-weight: bold;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top: 0.4rem;
    margin-right: 0.4rem;
}